* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 10pt;
  background: #5f0a87;
}

.main--container {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  line-height: 150%;
  background-color: #a4508b;
  background-image: linear-gradient(
      326deg,
      rgba(164, 80, 139, 0.85) 0%,
      rgba(95, 10, 135, 0.85) 74%
    ),
    url("img/background.jpg");

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.only--mobile {
  display: none;
  height: 0;
  width: 0;
}

.main {
  width: 900px;
  color: #fff;
  text-align: center;
  margin: 150px;
}

.main--description {
  padding: 30px 0;
  font-size: 2.2em;
  font-weight: 300;
  line-height: 150%;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.highlight-y {
  color: #ff0;
}

.highlight-r {
  color: #d11;
}

.main--items {
  margin-top: 60px;
  width: 900px;
  display: flex;
  justify-content: space-evenly;
}

.main--item {
  display: block;
  width: 250px;
  text-decoration: none;
  color: #fff;
}

.main--info {
  padding: 10px 0;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.8);
}

.main--info-value {
  font-size: 1.3em;
  letter-spacing: 2px;
}

.waves {
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  margin-top: -75px;
}

.waves-top {
  width: 100%;
  overflow: hidden;
  line-height: 0;
  margin-top: -5px;
}

.waves svg,
.waves-top svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 75px;
}

.firstWave .shape-fill {
  fill: #fffcff;
}

.secondWave .shape-fill {
  fill: #5f0a87;
}

.thirdWave .shape-fill {
  fill: #a4508b;
}

.section--container {
  width: 100vw;
  max-width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.1em;
  line-height: 200%;

  padding-bottom: 50px;
}

.section--pricing {
  background-color: #fff;
  background-image: linear-gradient(0deg, #e5caf1 0%, #fffcff 74%);

  color: #42065e;
}

.section--about {
  background-color: #5f0a87;
  background-image: linear-gradient(0deg, #a4508b 0%, #5f0a87 74%);

  color: #fff;
}

.section--contact {
  background-color: #191d24;
  margin-top: -75px;
  padding-top: 100px;
  color: #fff;
}

.section {
  width: 1000px;
  padding: 70px 0;
}

.section p {
  font-size: 12pt;
  font-weight: 300;
  padding-bottom: 10px;
  text-align: justify;
}

.section h2 {
  margin-bottom: 50px;
  font-size: 2em;
}

.section h3 {
  padding: 20px 0;
  padding-top: 40px;
  font-size: 1.5em;
}

.section h4 {
  padding-bottom: 20px;
  font-size: 1.4em;
}

.section h5 {
  padding-top: 20px;
  font-size: 1.2em;
}

.section ul {
  font-size: 14pt;
  list-style-type: square;
  list-style-position: inside;
  padding: 20px 0;
}

.section--content {
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
}
.section--content:nth-last-child(1) {
  padding-bottom: 0;
}

.content--image img {
  max-width: 500px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.right {
  padding-left: 20px;
}
.left {
  padding-right: 20px;
}
.half {
  width: 50%;
}
.center {
  text-align: center;
}
.premium {
  text-align: left;
}

.label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 10px;
  cursor: pointer;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 5px;
}

.label:hover input ~ .checkmark {
  background-color: #ccc;
}

.label input:checked ~ .checkmark {
  background-color: #2ecc71;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.label input:checked ~ .checkmark:after {
  display: block;
}

.label .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

table {
  border-collapse: separate;
  border-radius: 10px;
  border-spacing: 0;
  background-color: #a4508b;
  background-image: linear-gradient(
    326deg,
    rgba(164, 80, 139, 0.85) 0%,
    rgba(95, 10, 135, 0.85) 74%
  );
  color: white;
}

td,
th {
  padding: 2px 15px;
  text-align: center;
}

th {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  border-top: none;
  padding: 5px 20px;
}

tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.2);
}

.rank {
  width: 50px;
  padding: 0 5px;
}

.ranks--container {
  display: flex;
  align-items: center;
  justify-content: center;
}

label {
  margin-right: 5px;
  text-align: left !important;
}

.calculator {
  position: relative;
  overflow: hidden;
  padding: 20px;
  padding-bottom: 40px;
  background-color: #a4508b;
  background-image: linear-gradient(
    5deg,
    rgba(164, 80, 139, 0.85) 0%,
    rgba(95, 10, 135, 0.85) 74%
  );
  color: white;
  border-radius: 10px;
}

.calculator--ranks {
  padding: 10px 0;
}

.price--bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-left: -20px;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  padding: 5px;
}

.price {
  margin: 0;
  padding: 0;
}

.button {
  display: inline-flex;
  height: 75px;
  padding: 0;
  background: #738adb;
  border: none;
  outline: none;
  border-radius: 10px;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  font-size: 130%;
  margin: 30px;
  font-weight: bold;
  transition: background 0.5s;
}

.button:hover {
  background: #576aab;
}

.button:active {
  background: #212840;
}

.button--text,
.button--icon {
  display: inline-flex;
  align-items: center;
  padding: 0 25px;
  color: #fff;
  height: 100%;
}

.button--text {
  width: 100%;
  justify-content: center;
  text-align: center;
}

.button--icon {
  background: rgba(0, 0, 0, 0.1);
}

select {
  padding: 5px;
  border: none;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
}

.section a {
  text-decoration: none;
  font-weight: bold;
}

.section a,
.section a:visited,
.section a:active {
  color: rgb(255, 119, 0);
}

.section a:hover {
  color: rgb(255, 0, 0);
}

.header--small--text {
  display: inline-block;
  padding-bottom: 20px;
  font-style: italic;
  font-weight: normal;
}

.nomargin {
  margin: 0 !important;
}

.faq {
  background-color: #fafbff;
  border-radius: 10px;
}

details summary {
  display: flex;
  position: relative;
  align-items: center;
  padding: 15px;
  color: #5f0a87;
  font-size: 12pt;
  font-weight: bold;

  list-style: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.chevron::before,
.chevron::after,
.chev::before,
.chev::after {
  position: absolute;
  content: "";
  right: 30px;
  height: 2px;
  width: 12px;
  border-radius: 2px;
  background-color: #5f0a87;
  transition: transform 0.2s ease-in-out;
}

.chevron {
  position: absolute;
  right: 0;
  transition: transform 0.2s ease-in-out;
}
details[open] .chevron {
  transform: translateY(-4px);
  transition: transform 0.2s ease-in-out;
}

.chevron::before,
.chev::after {
  transform: rotate(45deg);
}
.chev::before,
.chevron::after {
  transform: translateX(7px) rotate(-45deg);
}

details[open] .chevron::before {
  transform: rotate(45deg);
}
details[open] .chev::before {
  transform: translateX(7px) rotate(-45deg);
}

details[open] .chevron::after {
  transform: translateY(7px) rotate(-45deg);
}
details[open] .chev::after {
  transform: translateY(7px) translateX(7px) rotate(45deg);
}

.content {
  padding: 0 25px;
  margin-top: 0;
  color: #212840;
}

.animate {
  height: auto;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s ease;
  transition-delay: 0s;
}

details[open] ~ .animate {
  max-height: 100vh;
  overflow: hidden;
  transition: all 0.5s ease;
  transition-delay: 0s;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  text-align: center;

  color: #aaa;
  padding: 30px;
  text-align: center;
  font-weight: 300;
  font-size: 12pt;
  letter-spacing: 1px;

  background: #15191f;
}

.footer .socials a {
  padding: 0 5px;
}

.footer a,
.footer a:visited,
.footer a:active {
  color: #aaa;
  transition: color 0.5s;
}

.footer a:hover {
  color: #ff0;
}

.footer--element {
  width: 150px;
}

.visuallyhidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

@media (max-width: 1000px) {
  .only--mobile {
    display: inline-block;
    margin-top: 20px;
    width: auto;
    height: auto;
  }
  .only--pc {
    display: none;
    height: 0;
    width: 0;
  }
  .main {
    margin: 0;
    width: 100vw;
    padding: 0 20px;
    max-width: 100%;
  }
  .main--container {
    min-height: 100vh;
  }
  .main--description {
    font-size: 1.2em;
  }
  .main--items {
    width: 100%;
    flex-direction: column;
    margin: 0;
    margin-bottom: 50px;
    align-items: center;
  }
  .main--item {
    padding: 20px;
    font-size: 0.75em;
  }
  .section {
    width: 100vw;
    margin: 30px 0;
    padding: 0 20px;
  }
  .section h2 {
    font-size: 1.4em;
    margin-bottom: 20px;
  }
  .section h4 {
    margin-top: 50px;
  }
  .section p {
    font-size: 1em;
  }
  .section ul {
    font-size: 0.75em;
  }
  .section--content {
    flex-direction: column;
  }
  .content--image {
    text-align: center;
    padding-top: 10px;
  }
  .content--image img {
    max-width: 100vw;
    width: 100%;
    height: auto;
  }
  .right {
    padding-left: 0;
  }
  .left {
    padding-right: 0;
    order: 2;
  }
  .button {
    padding: 0;
    margin: 30px 0;
    width: 100%;
  }

  label {
    font-size: 1.1em;
  }

  table {
    width: 100%;
  }

  td,
  th {
    padding: 2px 5px;
  }

  details summary {
    font-size: 10pt;
  }

  details summary span {
    max-width: 85%;
  }

  .header--small--text {
    padding-bottom: 20px;
  }

  .waves svg,
  .waves-top svg {
    width: calc(180% + 1.3px);
  }

  .half {
    width: 100%;
  }
  #arrow-up {
    display: none;
  } /*można dać order: -1 jeśli chcemy mieć strzałkę w stopce*/
}

::selection {
  background-color: #ff0;
  color: #111;
}
::-moz-selection {
  background-color: #ff0;
  color: #111;
}
